@import "vendor/normalize.scss";
@import "_vars.scss";

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $background;

  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
  color: $white;
}

a {
  color: $white;
  text-decoration: none;
  &:hover {
    color: $active;
  }
  &:active {
    color: $active;
  }
}

.header-main-wrap {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

@import "blocks/header.scss";
@import "blocks/main.scss";
