.footer {
  background-color: $background;
  max-width: 1240px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer__top-section {
  display: flex;
  flex-wrap: wrap;
  margin-right: 130px;
  margin-left: 140px;
  justify-content: space-between;

  @media (max-width: 1023px) {
    margin: 0 20px;
  }
}

.footer__top-section-item {
  margin: 0;
  flex-basis: 190px;

  @media (max-width: 1101px) {
    flex-basis: 40%;
    margin-top: 20px;
  }

  @media (max-width: 1023px) {
    flex-basis: 45%;
  }

  @media (max-width: 501px) {
    flex-basis: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}

.footer__top-section-item-header {
  margin: 0;

  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.footer__top-section-item-text {
  margin: 0;
  margin-top: 20px;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 17px;
}

.footer__form {
  margin-top: 20px;
}

.footer__form-input {
  border: none; //цвет рамки
  border-radius: none; //закругление углов (общее)
  background: #ffffff !important; // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
  outline: none; // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
  width: 100%; // ширина на свое усмотрение
  color: $input-color; //цвет шрифта в обычном состоянии
  font-size: 1.4rem; // Размер шрифта
  font-weight: 300;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
}

.footer__form-input-email {
  margin-top: 12px;
}

.footer__form-input-checkbox {
  margin-top: 10px;
  width: 10px;
  height: 10px;
}

.footer__form-label-checkbox {
  font-size: 1rem;
  vertical-align: middle;
  color: $checkbox-color;
}

.footer__form-btn {
  background-color: $black;
  color: $white;
  font-size: 1.8rem;
  margin-top: 8px;
  padding: 5px 0;
  width: 100%;
  border: none;
  cursor: pointer;
}

.footer__bot-section {
  display: flex;
  justify-content: space-between;
  @media (max-width: 1101px) {
    flex-wrap: wrap;
  }
}

.footer__bot-section-contacts {
  display: flex;

  @media (max-width: 1101px) {
    flex-basis: 90%;
    margin: 0 auto;
    justify-content: space-between;
  }

  @media (max-width: 767px) {
    flex-wrap: wrap;
  }
}

.footer__bot-section-contacts-item {
  font-size: 1.2rem;

  margin: 0;
  margin-top: 30px;
  margin-right: 15px;

  &:nth-last-child(1) {
    margin-right: 0;
  }

  @media (max-width: 767px) {
    flex-basis: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    &:nth-last-child(1) {
      margin-right: auto;
    }
  }

  @media (max-width: 501px) {
    flex-basis: 45%;
  }

  @media (max-width: 374px) {
    flex-basis: 90%;
  }
}

.footer__bot-section-social-language-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  max-width: 320px;
  @media (max-width: 1101px) {
    margin: 0 auto;
  }
}

.footer__bot-section-social {
  display: flex;
  margin-top: 25px;
}

.footer__bot-section-social-link {
  margin-right: 10px;
}

.footer__bot-section-language {
  display: flex;
}

.footer__bot-section-language-item {
  position: relative;
  font-size: 1.4rem;
  margin-top: 30px;
  margin-right: 18px;

  &::after {
    content: "";
    position: absolute;
    width: 1px;
    background-color: $white;

    right: -10px;
    top: 2px;
    bottom: 2px;
  }

  &:nth-last-child(1) {
    margin-right: 0;

    &::after {
      display: none;
    }
  }
}
