.header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin: 0 auto;

  max-width: 1240px;
  width: 100%;

  @media (max-width: 815px) {
    flex-direction: row-reverse;
  }
}

.header__logo {
  align-self: center;

  @media (max-width: 815px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }
}

.header__nav-reg-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__reg {
  text-align: right;
}

.header__reg-btn {
  position: relative;
  margin-right: 1.8rem;

  font-size: 1.4rem;

  &::after {
    content: "";
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: -20px;
    width: 10px;
    background-image: url("../img/regist.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 60px;
  margin-bottom: 20px;
  padding: 0;
}

.header__nav-item {
  margin-left: 2.5rem;
  line-height: 2;
  list-style-type: none;
  position: relative;

  &:hover .header__nav-subnav {
    display: block;
  }

  @media (max-width: 815px) {
    margin-left: 1.5rem;
    font-size: 1.6rem;
  }
}

.header__nav-item--current a {
  font-weight: 600;
  color: $active;
}

.header__nav-subnav {
  position: absolute;
  display: none;
  list-style-type: none;
  background-color: $background;
  top: 100%;
  left: -15px;
  right: -60px;
  padding-left: 15px;
  padding-top: 20px;

  z-index: 1000;
}

.header__nav-subitem {
  font-size: 1.6rem;
}
