.main {
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  background-image: url("../img/bg-pic.jpg");
  background-color: #54533e;
  background-size: cover;
  background-position: center;

  flex-grow: 1;
}

.main__text {
  width: 500px;
  border: 1px solid $white;

  background-color: $white;
  opacity: 0.85;
}

.main__title {
  margin: 0;
  margin-top: 15px;
  max-width: 480px;

  color: $black;
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
}

.main__description {
  margin: 0;
  max-width: 460px;

  color: $black;
  text-align: center;
}
