.main {
  background-image: url("../img/bg-pic-1.jpg");
  background-color: #54533e;
  background-size: cover;
  background-position: center;

  flex-grow: 1;
  overflow: hidden;
}

.main__inner {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  height: 100%;
}

.main__text {
  width: 510px;
  position: relative;

  background-color: $white;
  padding: 20px 0 20px 20px;
}

.main__text-stript-continuation {
  position: absolute;
  width: 1000px;
  height: 100%;
  background-color: $white;

  top: 0;
}

.main__title {
  margin: 0;
  position: relative;
  z-index: 1000;

  color: $black;
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
}

.main__description {
  margin: 0;
  margin-top: 15px;
  position: relative;
  z-index: 1000;

  color: $black;
}

.main__dots-button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

.main__dots {
  margin: 0 auto;
  padding: 0;
  width: 62px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;
}

.main__dots-item {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid $black;

  background-color: #fff;
}

.main__button {
  margin: 0 auto;
  position: relative;
  width: 84px;
  height: 30px;
  background-color: $white;

  &::after {
    content: "";
    position: absolute;
    background-image: url(../img/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 45px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}
