.main {
  background-image: url("../img/bg-pic-1.jpg");
  background-size: cover;
  background-position: center;

  flex-grow: 1;
  display: flex;
}

.main__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.main__text {
  max-width: 510px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;

  background-color: $white;
  padding: 20px 0 20px 20px;

  @media (max-width: 376px) {
    padding-left: 0;
  }
}

.main__text-stript-continuation {
  position: absolute;
  height: 100%;
  background-color: $white;

  top: 0;
  left: 0;
}

.main__title {
  margin: 0;

  color: $black;
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;

  @media (max-width: 376px) {
    font-size: 2.5rem;
  }
}

.main__description {
  margin: 0;
  margin-top: 15px;

  color: $black;

  @media (max-width: 376px) {
    text-align: center;
  }
}

.main__dots {
  margin: 0 auto;
  padding: 0;
  width: 62px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;
}

.main__dots-item {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid $black;

  background-color: #fff;
}

.main__button {
  display: block;
  border: none;

  margin: 0 auto;
  position: relative;
  width: 84px;
  height: 30px;
  background-color: $white;

  &::after {
    content: "";
    position: absolute;
    background-image: url(../img/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 45px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
  }
}

.main__pull-out-menu {
  display: flex;
  flex-wrap: wrap;
}

.main__pull-out-menu-item {
  padding: 15px;
  color: $black;
  flex-basis: 30%;
  flex-grow: 1;

  &:nth-child(1) {
    background-color: $very-soft-orange;
  }
  &:nth-child(2) {
    background-color: $white;
  }
  &:nth-child(3) {
    background-color: $black;
    color: $white;
  }

  @media (max-width: 815px) {
    flex-basis: 100%;
  }
}

.main__pull-out-menu-item-header {
  margin: 0;
}

.main__pull-out-menu-item-description {
  margin: 0;
  margin-top: 10px;
}
